<div class="reservas-container">
  <h2 class="titulo">Bienvenido(a) a reservas UH</h2>

  <h3 class="subtitulo">Reservar en Biblioteca</h3>
  <p class="texto">
    La Biblioteca General "Antonio Farid Campos Polanía"
  </p>
  <p class="texto">
    Está ubicada en el Bloque C. Para reservar una sala, selecciona
    la sala, la fecha y la hora en la que deseas apartar tu espacio.
  </p>

  <h3 class="subtitulo">Salas de estudio</h3>
  <ul class="lista">
    <li>Disponibles para desarrollar actividades académicas, de creación e investigación.</li>
    <li>Tiempo máximo: 3 horas diarias por usuario.</li>
    <li>Capacidad: entre 2 y 6 personas.</li>
  </ul>

  <div class="boton-container">
    <ion-button expand="block" [routerLink]="['/lista-salas']" [routerDirection]="'forward'" class="reservar-btn">Reservar</ion-button>
  </div>
</div>
