ion-content {
  --background: #ffffff;
}

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  padding-top: 200px;   /* altura igual a la de .wave-top */
  padding-bottom: 200px; /* altura igual a la de .wave-bottom */
}

.wave {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.wave-top {
  margin-top: -20px;
  top: 0;
}

.wave-bottom {
  bottom: 0;
}

.wave svg {
  display: block;
  width: 100%;
  height: 100%;
}
