<div class="content">
  <h2>Activa tu cuenta</h2>
  <p>
    Te hemos enviado un correo electrónico a <br />
    <strong>{{correo}}</strong> con el código de activación.
  </p>

  <p>Ingresa el código de activación de 6 dígitos</p>
  <div class="code-inputs">
  <input
    *ngFor="let i of inputs; let idx = index"
    type="text"
    maxlength="1"
    #codeInput
    class="code-input"
  />
</div>

  <div class="buttons-container">
  <button routerDirection="forward" (click)="verificarCodigo()" class="btn-secondary">
    Activar
  </button>
  <button 
    class="btn-secondary" 
    (click)="enviarCodigo()" 
    fill="outline" 
    [disabled]="!puedeEnviarCodigo">
    Reenviar Código
  </button>
</div>

</div>
