<div class="form-wrapper">
  <form #registerForm="ngForm" (ngSubmit)="ingresar()">
    <div class="ion-text-center">
      <h2>Inicio de sesión</h2>
    </div>

    <div class="content-area">
      <div class="logo-container">
        <div class="logo-image">
          <img src="assets/images/logo-inicio-sesion.jpg" alt="Logo UH" class="uh-logo" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="correo">Correo:</label>
      <input id="correo" name="correo" [(ngModel)]="usuario1.correo" required email #correo="ngModel" type="email">
    </div>

    <div class="form-group">
      <label for="contrasena">Contraseña:</label>
      <input id="contrasena" name="contrasena" [(ngModel)]="usuario1.contrasena" required #contrasena="ngModel" type="password">
    </div>

    <!-- Mensaje de error fuera del contenedor -->
    <div *ngIf="mensajeError" class="mensaje-error">
      {{ mensajeError }}
    </div>

    <div class="buttons-container">
      <button
        type="submit"
        class="btn btn-ingresar"
        [disabled]="registerForm.invalid">
        Ingresar
      </button>
    </div>
  </form>
</div>