<div class="resumen-container" *ngIf="Rol === 'EMPLEADO' && estadoReserva !== 'Cancelada'">
  <div class="resumen-datos">
    <div><span class="label">Estudiante:</span> <span class="valor estudiante">{{ estudianteNombre }}</span></div>
    <div><span class="label">Sede:</span> <span class="valor">{{ sede }}</span></div>
    <div><span class="label">Motivo:</span> <span class="valor">{{ motivo }}</span></div>
    <div><span class="label">Fecha:</span> <span class="valor">{{ fecha }}</span></div>
    <div><span class="label">Hora de entrada :</span> <span class="valor">{{ horaEntrada }}</span></div>
    <div><span class="label">Hora de salida:</span> <span class="valor">{{ horaSalida }}</span></div>
  </div>
</div>

<div class="resumen-container" *ngIf="Rol === 'EMPLEADO' && estadoReserva === 'Cancelada'">
  <div class="resumen-datos">
    <div><span class="label">Reserva cancelada.</span></div>
  </div>
</div>

<div class="resumen-container" *ngIf="Rol === 'ESTUDIANTE'">
  <div class="resumen-datos">
    <div><span class="label">Estudiante:</span> <span class="valor estudiante">{{ estudianteNombre }}</span></div>
    <div><span class="label">Sede:</span> <span class="valor">{{ sede }}</span></div>
    <div><span class="label">Motivo:</span> <span class="valor">{{ motivo }}</span></div>
    <div><span class="label">Fecha:</span> <span class="valor">{{ fecha }}</span></div>
    <div><span class="label">Hora de entrada :</span> <span class="valor">{{ horaEntrada }}</span></div>
    <div><span class="label">Hora de salida:</span> <span class="valor">{{ horaSalida }}</span></div>
  </div>
  <div class="bottom-button">
    <button *ngIf="(estadoReserva && (estadoReserva.trim().toLowerCase() === 'reservada' || estadoReserva.trim().toLowerCase() === 'en uso')) && (Rol && Rol.trim().toUpperCase() === 'ESTUDIANTE')"
      expand="block" (click)="cancelarReserva()" class="login-button">Cancelar reserva</button>
  </div>
</div>

<div class="resumen-container" *ngIf="Rol === 'ADMINISTRADOR' && estadoReserva !== 'Cancelada'">
  <div class="resumen-datos">
    <div><span class="label">Estudiante:</span> <span class="valor estudiante">{{ estudianteNombre }}</span></div>
    <div><span class="label">Sede:</span> <span class="valor">{{ sede }}</span></div>
    <div><span class="label">Motivo:</span> <span class="valor">{{ motivo }}</span></div>
    <div><span class="label">Fecha:</span> <span class="valor">{{ fecha }}</span></div>
    <div><span class="label">Hora de entrada :</span> <span class="valor">{{ horaEntrada }}</span></div>
    <div><span class="label">Hora de salida:</span> <span class="valor">{{ horaSalida }}</span></div>
  </div>
 <div class="buttons-container1">
  <div class="top-buttons">
    <button (click)="editarReserva()" class="login-button">Editar reserva</button>
    <button (click)="eliminarReserva()" class="login-button">Eliminar reserva</button>
  </div>
  <div class="bottom-button">
    <button *ngIf="estadoReserva === 'En uso'" (click)="finalizarReserva()" class="login-button">Finalizar reserva</button>
  </div>
</div>
</div>

<div class="resumen-container" *ngIf="Rol === 'ADMINISTRADOR' && estadoReserva === 'Cancelada'">
  <div class="resumen-datos">
    <div><span class="label">Reserva cancelada.</span></div>
  </div>
</div>
