<ion-header>
    <ion-toolbar>
      <ion-title>Gestión de Recepcionistas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gestión de Recepcionistas</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre:</ion-label>
          <ion-input placeholder="Ingrese el nombre"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Apellido:</ion-label>
          <ion-input placeholder="Ingrese el apellido"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Edad:</ion-label>
          <ion-input type="number" placeholder="Ingrese la edad"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Correo Electrónico:</ion-label>
          <ion-input type="email" placeholder="Ingrese el correo"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Horario laboral:</ion-label>
          <ion-input placeholder="Ingrese el horario laboral"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Extensión telefónica:</ion-label>
          <ion-input placeholder="Ingrese la extensión telefónica"></ion-input>
        </ion-item>
        
        <ion-button expand="full">Agregar</ion-button>
        <ion-button expand="full" color="warning">Modificar</ion-button>
        <ion-button expand="full" color="danger">Eliminar</ion-button>
        <ion-button expand="full" color="secondary">Consultar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>