<div class="form-wrapper">
  <form #registerForm="ngForm" (ngSubmit)="registrarse(registerForm)" novalidate>
    <ion-label class="ion-text-center">
      <h2>Nuevo empleado</h2>
    </ion-label>

    <ion-item>
      <ion-label>Primer nombre<span class="asterisco">*</span>:</ion-label>
      <input name="primerNombre" [(ngModel)]="usuario1.primernombre" required #primerNombre="ngModel" type="text">
    </ion-item>

    <ion-item>
      <ion-label>Segundo nombre:</ion-label>
      <input name="segundoNombre" [(ngModel)]="usuario1.segundonombre" type="text">
    </ion-item>

    <ion-item>
      <ion-label>Primer Apellido<span class="asterisco">*</span>:</ion-label>
      <input name="primerApellido" [(ngModel)]="usuario1.primerapellido" required #primerApellido="ngModel" type="text">
    </ion-item>

    <ion-item>
      <ion-label>Segundo Apellido<span class="asterisco">*</span>:</ion-label>
      <input name="segundoApellido" [(ngModel)]="usuario1.segundoapellido" required #segundoApellido="ngModel" type="text">
    </ion-item>

    <ion-item>
      <ion-label>Correo<span class="asterisco">*</span>:</ion-label>
      <input name="correo" [(ngModel)]="usuario1.correo" required email #correo="ngModel" type="email">
    </ion-item>

    <ion-item class="select-item">
      <ion-label>Tipo documento<span class="asterisco">*</span>:</ion-label>
      <select
        name="tipoDocumento"
        [(ngModel)]="usuario1.tipo_documento"
        required
        #tipoDocumento="ngModel">
        <option value="" disabled selected>Seleccione tipo</option>
        <option value="CC">CC</option>
        <option value="TI">TI</option>
        <option value="PAS">PAS</option>
        <option value="CE">CE</option>
      </select>
    </ion-item>

    <ion-item>
      <ion-label>Numero documento<span class="asterisco">*</span>:</ion-label>
      <input name="numDocumento" [(ngModel)]="usuario1.num_documento" (ngModelChange)="actualizarCodigoEstudiantil($event)" required #codigoEstudiantil="ngModel" type="text">
    </ion-item>

    <ion-item>
      <ion-label>Contraseña<span class="asterisco">*</span>:</ion-label>
      <input name="contrasena" [(ngModel)]="usuario1.contrasena" required #contrasena="ngModel" type="password">
    </ion-item>

    <ion-item>
      <ion-label>Confirmar contraseña<span class="asterisco">*</span>:</ion-label>
      <input type="password" name="confirmPassword" #confirmPassword required>
    </ion-item>

    <div class="buttons-container">
      <button
        type="submit"
        class="btn btn-guardar"
        [disabled]="registerForm.invalid">
        Registrar
      </button>
    </div>
    
    <!-- Mensaje de error fuera del contenedor -->
    <ion-note *ngIf="mensajeError" class="mensaje-error">
      {{ mensajeError }}
    </ion-note>
    
  </form>
</div>